
/*  =========== Estilização global ==========  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ========== fontes ========== */
@font-face {
    font-family: 'Noto Sans';
    font-style: italic;
    src: url(assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf) format('truetype');   
}

/* ========== Variaveis cores ========== */
:root{

    /* modo escuro */

    --cor-fundo-escuro-primaria: #050a1d;
    --cor-fundo-escuro-secundaria: #0a1640;
    --cor-fundo-escuro-container-header: #1f2535;
    --cor-logo-fonte-escuro: #fcffff;
    --cor-fundo-escuro-botao-tema: #2f354d;
    --cor-fundo-escuro-botao-opcoa: #2f354d;
    /* modo claro */

    --cor-fundo-claro-primaria: #dae7f8;
    --cor-fundo-claro-secundaria: #effbf9;
    --cor-fundo-claro-container-header: #fcfdff;
    --cor-logo-fonte-claro: #12173e;
    --cor-fundo-claro-botao-tema: #eeeef0;
    --cor-fundo-claro-botao-opcao: #fcfdff;
}
/* ========== Estilizando o body ========== */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Sans';
    
}

    /* body modo escuro */
body.tema-escuro{
    background: linear-gradient(to bottom, var(--cor-fundo-escuro-primaria), var(--cor-fundo-escuro-secundaria));
}

    /* body modo claro*/
body.tema-claro{
    background: linear-gradient(to bottom, var(--cor-fundo-claro-primaria), var(--cor-fundo-claro-secundaria));
}

/* ========== Estilizando o header - container topo ========== */
.container-topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    height: 60px;
    padding: 0px 20px ;
    margin: 40px auto 0;
    border-radius: 20px;
    border: 2px solid red;
      
}

    /* container topo modo escuro */
body.tema-escuro .container-topo{
    background: var(--cor-fundo-escuro-container-header);
}

    /* container topo modo claro */
body.tema-claro .container-topo{
    background: var(--cor-fundo-claro-container-header);
}

.logo__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 150px;
    text-decoration: none;
    font-weight: 700;
    font-size: larger;
}
    /* Logo link modo escuro */
body.tema-escuro .logo__link{
    color: var(--cor-logo-fonte-escuro);
}

    /* Logo link modo claro */
body.tema-claro .logo__link{
    color: var(--cor-logo-fonte-claro);
}

/* ========== Estilizando o botao alterar tema ========== */
.tema{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

/* Modo tema escuro */

body.tema-escuro .tema{
    background: linear-gradient(var(--cor-fundo-escuro-botao-tema));
}
/* Modo tema claro */

body.tema-claro .tema{
    background: linear-gradient(var(--cor-fundo-claro-botao-tema));
}


    /* modo escuro */
body.tema-escuro .tema:hover{
    background: #888888dc
}
body.tema-claro .tema:hover{
    background: #888888;
}

.botao-tema {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border: none;
    cursor: pointer;
    background: transparent;
}

.ativo{
    opacity: 0;  
}

/* parte 02 */

/* ========== estilizando o MAIN - Conteiner Extensoes ========== */

.container-extensoes{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    margin: 70px auto 0;
    border: 2px solid red;
}
.caixa-opcoes{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    font-size: 13px;
    
}
.lista-opcoes{
    display: flex;
    justify-content: end;
    gap: 10px;
    width: 300px;
}

    /* Modo escuro */

body.tema-escuro .caixa-opcoes{
    color: var(--cor-logo-fonte-escuro);
}

    /* Modo claro */
body.tema-claro .caixa-opcoes{
    color: var(--cor-logo-fonte-claro);
}

/* ========== Estilizando a lista de opções ========== */

.opcao{
    
    background: var(--cor-fundo-escuro-botao-tema);
    color: var(--cor-logo-fonte-escuro);
    font-size: medium;
    font-weight: 400;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}


    /* Modo escuro */
body.tema-escuro .opcao{
    background: var(--cor-fundo-escuro-botao-tema);
}

    /* Modo claro */
body.tema-claro .opcao{
    background: var(--cor-fundo-claro-botao-opcao);
    color: var(--cor-logo-fonte-claro);
}

body.tema-escuro .opcao:hover{
    background: #888888dc;
}

body.tema-claro .opcao:hover{
    background: #888888;
}

/* parte 03 */

.extensoes{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto 0;
    gap: 9px;
}

.bloco-extensao{
    background: var(--cor-fundo-escuro-container-header);
    max-width: 300px;
    min-width: 351px;
    border-radius: 20px;
    position: relative;
}

.caixaSuperior{
    border: 1px solid red;
    display: flex;
}