/*  Estilização global  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

/*  variaveis de cores  */
:root{
    --cor-fundo-primaria: #010005;
    --cor-fundo-secundaria: #00093f;
    --caixa-hearder: #353637;
}
/*  Estilizando o body */

body{
    height: 100vh;
    background: linear-gradient(to bottom, var(--cor-fundo-primaria), var(--cor-fundo-secundaria));
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

/* Estilzando header */
.caixa-logo-tema{
    border: 1px solid white;
    background: var(--caixa-hearder);
    width: 80%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    
}

.logo img{
    
}